* {
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	background-image: url("../image/wcg_images/bodyBackground.jpg");
}

a {
	text-decoration: none;
}

#top {
	width: 100%;
	height: 80px;
	padding-top: 10px;
	position: fixed;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.9);
}

#top_in {
	margin: 0 auto;
	width: 100%;
	height: 70px;
}

#logo {
	width: 140px;
	height: 80px;
	float: left;
	margin-top: -5px;
	margin-left: 55px;
}

#logo div {
	width: 100px;
	height: 100px;
	margin-top: -15px;
	background-image: url("../image/wcg_images/logo.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#home {
	width: 50px;
	height: 20px;
	float: left;
	margin-top: 25px;
	/*margin-left: 20px;*/
}

#home div {
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 1px;
	margin-left: 1px;
	background-image: url("../image/wcg_images/homeLogo.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#home div:hover {
	background-image: url("../image/wcg_images/homeLogo1.png");
}

#home p {
	color: #31b6ff;
	width: 30px;
	height: 20px;
	float: right;
	font-size: 14px;
	line-height: 20px;
}

#home p:hover {
	color: red;
}

#nav {
	width: 50px;
	height: 20px;
	float: left;
	margin-top: 25px;
	margin-left: 40px;
	/*background-color: yellow;*/
}

#navLogo {
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 1px;
	margin-left: 1px;
	background-image: url("../image/wcg_images/classification.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#navLogo:hover {
	background-image: url("../image/wcg_images/classification1.png");
}

#nav p {
	color: #31b6ff;
	width: 30px;
	height: 18px;
	float: right;
	font-size: 14px;
	line-height: 18px;
}

#nav p:hover {
	color: red;
}

#forNav {
	width: 170px;
	min-height: 84px;
	margin-top: 58px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
}

#forNav li {
	width: 30px;
	height: 28px;
	float: left;
	font-size: 15px;
	line-height: 28px;
	margin-left: 10px;
	list-style: none;
}

#search {
	width: 450px;
	height: 40px;
	float: left;
	margin-top: 15px;
	margin-left: 155px;
}

#key_word {
	width: 350px;
	height: 40px;
	display: inline;
	border-radius: 5px;
	background-color: darkslategrey;
}

#key_word div {
	width: 40px;
	height: 40px;
	float: left;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	background-color: white;
	border: solid 1px;
	border-right: hidden;
	background-image: url("../image/wcg_images/searchLogo.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#key_word div:hover {
	background-image: url("../image/wcg_images/searchLogo1.png");
}

#key_word input {
	width: 308px;
	height: 40px;
	display: inline;
	line-height: 40px;
	font-size: 15px;
	color: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: solid 1px;
	border-left: hidden;
	outline: none;
}

#forSearch {
	width: 310px;
	max-height: 400px;
	border-radius: 5px;
	clear: right;
	margin-left: 40px;
	background-color: rgba(255, 255, 255, 0.9);
}

#forSearch li {
	width: 300px;
	height: 30px;
	margin-left: 10px;
	line-height: 30px;
	font-size: 18px;
}

#forSearch li:hover {
	background-color: #eaeaea;
}

#search_button {
	width: 100px;
	height: 40px;
	float: right;
	font-size: 20px;
}

#search_button button {
	width: 100px;
	height: 42px;
	border-radius: 5px;
	background-color: #31b6ff;
	border: none;
	font-size: 20px;
	letter-spacing: 5px;
	color: white;
}

#search_button button:hover {
	background-color: red;
}

#searchLib {
	width: 40px;
	height: 40px;
	float: right;
	margin-top: 15px;
	margin-right: 50px;
}

#searchLib div {
	width: 40px;
	height: 40px;
	background-image: url("../image/wcg_images/video.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#searchLib div:hover {
	background-image: url("../image/wcg_images/video1.png");
}

#collect {
	width: 40px;
	height: 40px;
	float: right;
	margin-top: 15px;
	margin-right: 50px;
}

#collect div {
	width: 40px;
	height: 40px;
	background-image: url("../image/wcg_images/collect.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#collect div:hover {
	background-image: url("../image/wcg_images/collect1.png");
}

#history {
	width: 35px;
	height: 35px;
	float: right;
	margin-top: 17.5px;
	margin-right: 50px;
}

#historyImg {
	width: 35px;
	height: 35px;
	background-image: url("../image/wcg_images/historyLogo.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#historyImg:hover {
	background-image: url("../image/wcg_images/historyLogo1.png");
}

#forHistory {
	width: 240px;
	min-height: 300px;
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 30px;
	border-radius: 5px;
}

.year {
	width: 75px;
	height: 30px;
	font-size: 25px;
	line-height: 30px;
	text-align: left;
	margin-left: 1px;
	font-family: Constantia;
	font-weight: bolder;
	/*background-color: greenyellow;*/
}

.month_day {
	width: 61px;
	height: 25px;
	font-size: 15px;
	line-height: 25px;
	text-align: left;
	margin-left: 5px;
	font-family: Constantia;
	font-weight: bold;
	/*background-color: greenyellow;*/
}

.sItem {
	width: 240px;
	height: 20px;
}

.hour_minute {
	width: 47px;
	height: 20px;
	float: left;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	margin-left: 9px;
	font-family: Constantia;
	display: inline-block;
}

.context {
	width: 115px;
	height: 20px;
	float: left;
	margin-left: 3px;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	font-family: Constantia;
	display: inline-block;
	/*background-color: greenyellow;*/
}

.rate {
	width: 53px;
	height: 20px;
	float: right;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	margin-right: 10px;
	font-family: Constantia;
	display: inline-block;
	/*background-color: greenyellow;*/
}

#upload {
	width: 40px;
	height: 40px;
	float: right;
	margin-top: 15px;
	margin-right: 50px;
}

#upload div {
	width: 40px;
	height: 40px;
	background-image: url("../image/wcg_images/uploadLogo.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#upload div:hover {
	background-image: url("../image/wcg_images/uploadLogo1.png");
}

#photo {
	width: 40px;
	height: 40px;
	float: right;
	margin-top: 15px;
	margin-right: 50px;
}

#photoImg {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-image: url("../image/wcg_images/photoLogo.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#photoImg:hover {
	background-image: url("../image/wcg_images/photoLogo1.png");
}

#forPhoto {
	width: 60px;
	height: 40px;
	line-height: 20px;
	margin-left: -10px;
	text-align: center;
	margin-top: 28px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.7);
}

#body {
	width: 1080px;
	margin: 0 auto;
}

#kongbai {
	width: 1080px;
	height: 90px;
	background-color: white;
}

#theme {
	width: 1080px;
	height: 170px;
	background-image: url("../image/wcg_images/minions.png");
}

#myUrl {
	width: 70px;
	height: 30px;
	float: right;
	margin-top: 135px;
	margin-right: 20px;
	background-color: white;
	border-radius: 5px;
	opacity: 0.8;
}

#myUrl p {
	width: 40px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	display: inline-block;
}

#myUrl div {
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	background-image: url("../image/wcg_images/qRcode.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#myUrl div:hover {
	background-image: url("../image/wcg_images/qRcode1.png");
}

#qr {
	width: 150px;
	height: 150px;
	float: right;
	position: relative;
	top: 15px;
	left: 70px;
	border-radius: 5px;
	background-color: white;
	background-image: url("../image/wcg_images/qr.png");
	background-size: 95% 95%;
	background-position: 3px 3px;
	background-repeat: no-repeat;
}

#introduction {
	width: 1080px;
	height: 80px;
	background-color: #efefef;
}

#pictrue_out {
	width: 150px;
	height: 150px;
	position: relative;
	top: 80px;
	left: 10px;
	border-radius: 75px;
	background-color: white;
}

#pictrue {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	position: relative;
	top: 2.5px;
	border-radius: 72.5px;
	background-image: url("../image/wcg_images/photoLogo.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#pictrue:hover {
	background-image: url("../image/wcg_images/photoLogo1.png");
	opacity: 0.5;
}

#self {
	width: 780px;
	height: 80px;
	margin-left: 180px;
}

#self:hover {
	padding: 5px;
	box-shadow: 0 0 10px black inset;
	border-radius: 3px;
}

#selfUsername {
	font-size: 20px;
}

#selfIntroduce {
	display: inline;
}

#introduce {
	display: inline;
}

#watch_times {
	width: 70px;
	height: 50px;
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}

#watch_times p {
	text-align: center;
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	opacity: 0.6;
}

#watch_times p:hover {
	opacity: 1;
}

#title {
	width: 1080px;
	height: 60px;
	background-color: white;
}

#zhuye {
	width: 50px;
	height: 50px;
	margin-left: 20px;
	border: solid 5px #31b6ff;
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
}

#zhuye p {
	width: 50px;
	height: 58px;
	line-height: 58px;
	font-size: 25px;
	text-align: center;
}

#zhuye p:hover {
	color: red;
}

#searchSelfVideo {
	width: 200px;
	height: 30px;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}

#video_name {
	width: 170px;
	height: 30px;
	float: left;
}

#video_name img {
	width: 29px;
	height: 30px;
	border: solid 1px #2ca7ea;
	border-right: hidden;
	float: left;
}

#video_name input {
	width: 139px;
	height: 30px;
	border: solid 1px #2ca7ea;
	border-left: 1px;
	float: right;
	outline: none;
}

#searchSelf_button {
	width: 30px;
	height: 32px;
	float: right;
	background-color: #31b6ff;
	border-radius: 2px;
}

#searchSelf_button:hover {
	background-color: red;
}

#searchSelf_button p {
	margin-left: 2px;
	line-height: 32px;
	color: white;
}

#video_out {
	width: 1080px;
	background-color: #eaeaea;
}

#video {
	width: 870px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.3);
}

#video:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

#sowingList {
	width: 830px;
	height: 30px;
	margin-left: 20px;
	margin-top: 10px;
	color: #31b6ff;
}

#sowingList p {
	font-size: 18px;
	line-height: 30px;
}

#sowingListBody {
	min-height: 307px;
	width: 830px;
	margin-left: 20px;
	margin-top: 10px;
	background-color: gainsboro;
}

.cover {
	width: 192px;
	height: 288px;
	margin: 15px 0 0 10px;
	display: inline-block;
	background-image: url("../image/wcg_images/noPictrue.jpg");
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position: 71px 119px;
}

.delete {
	width: 30px;
	height: 30px;
	float: right;
	position: relative;
	top: -13px;
	left: 13px;
	background-image: url("../image/wcg_images/delete.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.delete:hover {
	background-image: url("../image/wcg_images/delete1.png");
}

.addVideo {
	width: 192px;
	height: 288px;
	margin: 10px 0 0 10px;
	display: inline-block;
}

.add {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 94px;
	background-image: url("../image/wcg_images/add.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.add:hover {
	background-image: url("../image/wcg_images/add1.png");
}

#videos {
	width: 830px;
	height: 30px;
	margin-left: 20px;
	margin-top: 10px;
}

#videos p {
	font-size: 18px;
	line-height: 30px;
	color: #31b6ff;
}

#videosBody {
	width: 830px;
	margin-left: 20px;
	margin-top: 10px;
	background-color: gainsboro;
}

#footer {
	max-width: 100%;
	min-width: 1200px;
	height: 50px;
}

#footer p {
	text-align: center;
	line-height: 10px;
	margin-top: 40px;
}