<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.dao.PlayDao">

    <!-- 获取视频信息 -->
    <select id="getVideo" resultType="java.util.HashMap" parameterType="java.lang.Integer">
		SELECT
	video_video,
	video_introduce,
	video_name,
	video_danmu
        FROM
	video
        WHERE
	video_id = #{video_id};
	</select>

    <!-- 获取推荐信息 -->
    <select id="recommend" resultType="java.util.HashMap" parameterType="java.lang.Integer">
	SELECT
	b.video_id,
	b.video_image,
	b.video_name,
	b.video_playtimes
    FROM
	video a,
	video b
    WHERE
	a.video_id = #{video_id}
    AND a.video_type = b.video_type
	</select>

</mapper> 
